<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

        <ul class="social horizontal-list block"> <!-- SOCIAL (LEFT-CONTAINER) -->
            <li class="facebook"><p class="icon"><span class="zocial-facebook"></span></p><p class="number">248k</p></li>
            <li class="twitter"><p class="icon"><span class="zocial-twitter"></span></p><p class="number">30k</p></li>
            <li class="googleplus"><p class="icon"><span class="zocial-googleplus"></span></p><p class="number">124k</p></li>
            <li class="mailbox"><p class="icon"><span class="fontawesome-envelope"></span></p><p class="number">89k</p></li>
        </ul>
    </div>

    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">
        <%= render "shared/post_module" %>
        <%= render "shared/post_module" %>
        <%= render "shared/post_module" %>

    </div>

</div> <!-- end main-container -->
