<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

        <a href="/posts/new"><h2 class="titular icon">POST A RUN</h2></a>


    </div><!-- end left-container -->



    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">

        <%= render "shared/post_module" %>
        <%= render "shared/post_module" %>
        <%= render "shared/post_module" %>
        <%= render "shared/post_module" %>

        <div id='map' class='dark'></div>
        <script type='text/javascript'>
          var map = L.mapbox.map('map', 'examples.map-y7l23tes').setView([37.9, -77], 5);
        </script>

    </div>

    <%= render "shared/footer" %>

</div> <!-- end main-container -->
