<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

        <a href="/posts/new"><h2 class="titular icon">POST A RUN</h2></a>


    </div><!-- end left-container -->



    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">
        <%= render "shared/post_module" %>
        <%= render "shared/post_module" %>
        <%= render "shared/post_module" %>

    </div>

</div> <!-- end main-container -->
