<div class="main-container">

    <!-- HEADER -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

    </div> <!-- end left-container -->

    <!-- MIDDLE-CONTAINER -->
    <div class="middle-container">
        <div class="circle-title">
            <h2 class="titular"><span class="icon entypo-location"></span><strong>Running Circles</strong></h2>
        </div>
    </div>

    <div class="middle-container container">
        <%= render "shared/group_module" %>
        <%= render "shared/group_module" %>


    </div>

    <!-- RIGHT-CONTAINER -->
    <div class="right-container container">
      <%= render "shared/group_module" %>
      <%= render "shared/group_module" %>


    </div> <!-- end right-container -->
</div> <!-- end main-container -->
